body{
  background-color:#B5FE83;
}
.App{
  background-color:whitesmoke;
  min-height: 100vh;
  width:60%;
  margin:100px auto;
}

.crossed{
  text-decoration: line-through 2px red;
  background-color:antiquewhite;
}
ul, li {
  list-style-type: none;
  padding:10px;
  margin:0;
  font-family: 'Oswald', sans-serif;
}
h1{
  font-family: 'Oswald', sans-serif;
}
.container{
  display:flex;
  justify-content: center;
}
.add{
  margin-top:10px;
  background-color: aqua;
}
.delete{
  background-color: red;
  margin-bottom: 10px;
}
.btn{
  padding:10px;
  border:none;
  width:70%;
  color:white;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
input{
  flex:1;
  padding:10px;
  margin:10px;
  font-family: 'Oswald', sans-serif;
}
img{
  border-radius:50%;

}